.video{
    margin-bottom: 1rem;

    .video__title{
        font-weight: $bold;
        margin-top: .5rem;
    }

    .video__data{
        color: $quick-silver;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        .video__title{
            font-size: $large;
        }

        .video__data{
            font-size: $medium;
        }
    }
}