//colores

$white: #ffffff;
$smoky-black: #0c0910;
$quick-silver: #a6a5a8;


//font
$roboto: 'Roboto', sans-serif;


//font-size

$medium: 1rem;
$large: 1.25 rem;
$x-large: 1.5rem;
$xx-large: 1.75rem;

//font-weight
$regular: 400;
$bold: 700;
