header{
    background-image: url(../images/image-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-top: 20vh;
    height: 20vh;

    @media screen and (min-width: $desktop-breakpoint) {
        margin-top: 10vh;
        height: 30vh;
    }
}