.navbar{
    background-color: $white;
    height: 20vh;
    top: 0;
    width: 100vw;
    z-index: 10;

    .navbar__logo{
        color: $smoky-black;
        font-size: 3em;

        .navbar__logo-exp{
            font-size: .25em;
            position: relative;
            top: -3.25em;
            left: -2em;
        }
    }

    .navbar__icons--desktop{
        display: none;
    }

    .navbar__burger{
        border: 0;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        height: 10vh;
        padding: 0;

        .navbar__logo{
            font-size: 2em;
        }

        .fa-2x{
            font-size: 1.25em;
        }

        .navbar__icons--desktop{
            display: inline-block;
            padding: .275rem 0;

            i{
                font-size: $large;
                margin: 0 .5em;
            }
        }
    }
}